rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Bidhaa za kilimo
    match /listings/{listingId} {
      allow read, write: if true;
    }

    // Mazungumzo / Soga
    match /chats/{chatId} {
      allow read, write: if true;
      
      match /messages/{messageId} {
        allow read, write: if true;
      }
    }

    // Mipangilio ya chapa (Branding)
    match /settings/{settingId} {
      allow read, write: if true;
    }

    // Maelezo ya wasifu wa mtumiaji (Users)
    match /users/{userId} {
      allow read, write: if true;
    }
  }
}
